<main>
    
    <form>
        <div class="form-group">
            <label for="txtA">A</label>
            <input type="number" [(ngModel)]="a" class="form-control" id="txtA" name="txtA" placeholder="Inserisci un numero per l'addendo A">
            <label for="txtB">B</label>
            <input type="number" [(ngModel)]="b" class="form-control" id="txtB" name="txtB" placeholder="Inserisci un numero per l'addendo B">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="eseguiSomma()">Somma</button>
            <button type="button" class="btn btn-primary" (click)="eseguiSommaAsync()">Somma Asincrona</button>
        </div>
        <div class="form-group">
            <h3>Le somma di {{a}} e {{b}} è {{risultato}}</h3>
        </div>
    </form>
</main>
